body{font-family:"Microsoft Yahei","Montserrat","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53"; color:#666; }
body a{transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;-ms-transition:0.5s all;}
.text-blue{ color:#0089d7;}
.clear{ clear:both;}.grey{ color:#999;}
a:hover,a:visited,a:active,a:focus{text-decoration: none;}

/*-----data----*/
.show-data{ font-size:24px;min-width:1170px; padding-bottom:100px;background: url(../images/repo.png) no-repeat;background-size: cover;padding-top: 77px;}
.showda{background-image: none;}
.show-data li{ margin-top:50px;}
.show-data li:first-child{ margin-top:0;}
.show-data li.lit1{font-size:35px; color:#333;}
.show-data li.lit1 span{font-size:55px;}
.show-data span{ padding:0 5px; font-size:35px;}
.btn-primary{color:#fff;background-color:#0089d7;border-color:#0089d7}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#0475b6;border-color:#0475b6}
.btn-padding{ font-size:36px; padding:20px 210px;}

/*-----parter----*/
.our-client{ padding:0;}
.bd-hend{min-width:1170px;}
.bd-hend{width:100%;position:relative;z-index:3;min-height:100px; }
.bd-hend em{ border-bottom:1px solid #e9e9e9; z-index:1; display:block; width:100%; display:block; height:55px;position:absolute; top:0px;}
.text-hend{position:absolute;z-index:2; width:100%;display:block;top:22px;}
.text-hend span{background:#fff;  padding:0 15px;  font-size:50px; color:#333;}
.client-list{ padding-top:60px;}
.client-list li{ padding-top:10px; padding-bottom:10px;}
.client-list .list-inline{ margin-left:-10px;}
.client-list ul li{width: 100%;}

/*about-us style*/
.main{
	padding-top:100px;
	width: 100%;
	height:auto;
	background-color: #ffffff;
}
.head{
	width: 100%;
	height: 500px;
	background: url(../images/us.png) center center no-repeat;
	background-size: cover;

}
.deve{
	width: 100%;
	height: 500px;
	background: url(../images/develop.png) center center no-repeat;
	background-size: cover;
}
.join{
	width: 100%;
	height: 500px;
	background: url(../images/join.png) center center no-repeat;
	background-size: cover;
}
.maps{
	width: 990px;
	height: 365px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	background: url(../images/map.png) center center no-repeat;
}
.content{
	width: 365px;
	height: 302px;
	margin: 0 auto;
	font-size: 17px;
	color: #000;
	margin-bottom: 150px;
}
.content h3{
	font-size: 17px;
	font-weight: normal;
	margin-top: 35px;
}
.content span{
	display: block;
	line-height: 30px;
}
/*join-us style*/
.main .job-description{
	width: 996px;
	height: 110px;
	margin: 0 auto;
	margin-top: 53px;
	text-align: center;
}
.items-a span{
	display: inline-block;
	width: 160px;
	height: 42px;
	color: #ffffff;
	margin: 0 3px;
	line-height: 42px;
	border-radius: 6px;
	background-color: #0189d7;
}
.items-a .icon1{
	width: 117px;
}
.items-b span{
	width: 150px;
	margin-top: 15px;
}
.intro{
	width: 996px;
	margin: 0 auto;
	height: 1708px;
	margin-top: 50px;
	padding-bottom: 100px;
}
.intro img{
	width: 100%;
	height: 100%;
}
/*date credit style*/
.main .data-img{
	height: 600px;
}
.reporting{
	width: 720px;
	height: 655px;
	margin: 0 auto;
	margin-top: 52px;
	text-align: center;
	padding-bottom: 60px;
}
.reporting img{
	width: 80%;
	height: 100%;
}
.as-date{
	position: relative;
	width: 100%;
	height: 696px;
}
.as-date img{
	position: relative;
	width: 100%;
	height: 100%;
}
.as-date .dsday {
	position: absolute;
	width: 910px;
	height: 476px;
	top: 50%;
	text-align: left;
	left: 50%;
	margin-top: -238px;
	margin-left: -455px
}
.as-date .dsday span{
	display: block;
	font-size: 26px;
	margin-top: 30px;
	letter-spacing: 4px;
}
.as-date .dsday span em{
	color: #0089d7;
	font-style: normal;
}
.apply{
	display: block;
	width: 342px;
	height: 75px;
	color: #ffffff;
	font-size: 33px;
	line-height: 75px;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 62px;
	border-radius: 6px;
	text-align: center;
	background-color: #0089d7;
}
.bank-pic{
	width: 897px;
	height: 240px;
	margin: 0 auto;
	margin-top: 52px;
	padding-bottom: 80px;
}
.bank-pic img{
	width: 100%;
	height: 100%;
}
/*developer style*/
.developer{
	width: 1000px;
	margin: 0 auto;
	margin-top: 40px;
	color: #666;
}
.user{
	width: 100%;
	height: 572px;
	text-align: center;
}
.authorization{
	height: 56px;
	line-height: 56px;
	font-size: 29px;
	color: #666666;
	clear: both;
	border-bottom: 1px dashed #d3d3d3;
}
.report{
	width: 100%;
	height: 100%;
}
.report ul li{
	width: 240px;
	height: 250px;
	float: left;
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	margin: 30px 0 0 70px;
}
.report h2{
	font-size: 18px;
	margin: 20px 0 10px 0;
}
.original-data{
	width: 100%;
	height: 295px;
	clear: both;
	text-align: center;
	margin-top: 30px;
}

